@font-face {
    font-family: myFont;
    src: url("Super Bouncer.ttf");
}

body {
    background-color: cornflowerblue;
    background-image: url(bg.jpg);
    background-size: cover;
    font-family: myFont;
    color: white;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    margin: 0;
    padding: 0;
}

#raccoon {
    width: 100%;
    height: 100%;
    animation: click 250ms ease;
    transition: 250ms;
}

@keyframes click {
    0% {
        transform: scale(100%) rotate(-5deg);
    }
    12.5% {
        transform: scale(50%) rotate(-5deg);
    }
    25% {
        transform: scale(25%) rotate(-5deg);
    }
    50% {
        transform: scale(50%) rotate(-5deg);
    }
    75% {
        transform: scale(125%) rotate(-5deg);
    }
    100% {
        transform: scale(100%) rotate(-5deg);
    }
}

#raccoonimg {
    transition: 250ms;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#raccoondiv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

#scorebox {
    position: fixed;
    right: 5px;
    top: 5px;
}

@media (max-width: 750px) {
    #raccoon {
        width: 75%;
    }
}

@media (max-width: 638.4px) {
    body {
        background-image: url("");
    }
}

#raccoon:hover {
    transform: scale(110%) rotate(-5deg);
}

.section {
    background-color: #196cff;
    margin: 2px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    outline: 2.5px solid black;
}

.containerdiv {
    display: flex;
    justify-content: center;
}

#arrow {
    width: 64px;
    height: 64px;
    position: fixed;
    top: 5px;
    left: 5px;
    transition: 250ms;
}

#arrow:hover {
    transform: scale(110%) rotate(-370deg);
}

#upgrade {
    width: auto;
    height: 90.8667px;
    position: fixed;
    top: 105px;
    right: 5px;
    transition: 250ms;

    font-family: myFont;
    color: white;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    font-size: x-large;
}

#auto {
    width: auto;
    height: 90.8667px;
    position: fixed;
    top: 205px;
    right: 5px;
    transition: 250ms;

    font-family: myFont;
    color: white;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    font-size: x-large;
}

#cpsbox {
    position: fixed;
    bottom: 5px;
    right: 5px;
}