@font-face {
  font-family: myFont;
  src: url(comic.ttf);
}

body {
  color: white;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
  background-image: url("https://i.redd.it/jmhixcqthtfg1.jpeg");
  background-size: cover;
  background-color: black;
  font-family: myFont;
  margin: 0;
  padding: 0;
}

#raccoon {
  width: 500px;
  height: 200px;
  transition: 250ms;
}

#raccoon:hover {
  transform: scale(110%);
}

#wow {
  width: 142px;
  transition: 500ms;
}

.img {
  height: 183.95px;
  transition: 250ms;
}

.img:hover, #wow:hover {
  transform: scale(110%);
}

.social {
  width: 16px;
  transition: 250ms;
}

.social:hover {
  transform: scale(110%);
}

.containerdiv {
  display: flex;
  justify-content: center;
}

.section {
  background-color: rgba(0, 0, 0, 0.500);
  margin: 10px;
  padding: 10px;

  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

#door {
  position: fixed;
  bottom: -5px;
  right: 0;
  transition: 250ms;
}

#doorimg {
  width: 124.2px;
  height: auto
}

#disc {
  width: 200px;
  height: auto;
  animation: discRotate 69s linear infinite;
  transition: 250ms;
}

@keyframes discRotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#artist {
  margin-top: -20px;
}

#playing {
  margin-bottom: -19px;
}

#music {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#musicinfo {
  text-align: right;
  align-self: center;
}

.animateRaccoon {
  animation: squish 250ms ease-in-out;
}

@keyframes squish {
  0% {
    transform: scale(100%);
  }
  12.5% {
    transform: scale(50%);
  }
  25% {
    transform: scale(25%);
  }
  50% {
    transform: scale(50%);
  }
  75% {
    transform: scale(125%);
  }
  100% {
    transform: scale(100%);
  }
}